.btn {
   display: inline-block; // allow top and bottom margin/padding
   background: $light-color;
   color: #333;
   padding: 0.5rem 1.6rem;
   font-size: $m-size;
   border: none;
   cursor: pointer;
   margin-right: 0.8rem;
   transition: opacity 0.2s ease-in;
   outline: none;
}
.btn:hover {
   opacity: 0.8;
}
.alert {
   padding: 1.3rem;
   margin: 1.6rem 0;
   opacity: 0.9;
   background: $light-color;
   color: #333;
}
.btn--primary,
.bg--primary,
.badge--primary,
.alert--primary {
   background: $primary-color;
   color: #fff;
}
.btn--light,
.bg--light,
.badge--light,
.alert--light {
   background: $light-color;
   color: #333;
}
.btn--dark,
.bg--dark,
.badge--dark,
.alert--dark {
  background: $dark-color;
  color: #fff;
}
.btn--danger,
.bg--danger,
.badge--danger,
.alert--danger {
   background: $danger-color;
   color: #fff;
}
.btn--success,
.bg--success,
.badge--success,
.alert--success {
   background: $success-color;
   color: #fff;
}
.btn--white,
.bg--white,
.badge--white,
.alert--white {
   background: #fff;
   color: #333;
   border: #ccc solid 1px;
}