.navbar {
   position: fixed;
   top: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.7rem 2rem;
   width: 100%;
   border-bottom: solid 1px $primary-color;
   opacity: 0.9;
   z-index: 1;
}
.navbar ul {
   display: flex;
}
.navbar a {
   color: #fff;
   padding: 0.7rem;
   margin: 0 0.5rem;
}
.navbar a:hover {
   color: $primary-color;
}
