.round-img {
   border-radius: 50%;
}
.profile {
   display: grid;
   grid-template-columns: 1fr 4fr 2fr;
   align-items: center;
   grid-gap: 3.2rem;
   padding: 1.6rem;
   line-height: 1.8;
   margin-bottom: 1.6rem;
}